html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}
button {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
button:focus, button:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}
code {
    background: #f4f5f6;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
    color: #f66;
}
pre>code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
    height: auto;
    word-break: break-all;
}
pre {
    background: #f4f5f6;
    overflow-y: hidden;
}
