html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

#right-panel, #left-panel {
  display: inline-block;
  width: 50vw;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
}
#instructions {
    padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
    width: calc(100% - 40px);
    height: 100%;
}
button {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.5rem;
  margin-top: 0.3rem; 
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
button:focus, button:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}
button[disabled] {
  cursor: default;
  opacity: .5;
}
button[disabled]:focus,
button[disabled]:hover {
  background-color: #9b4dca;
  border-color: #9b4dca;
}

code {
    background: #f4f5f6;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
    color: #f66;
}
pre>code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
    height: auto;
    word-break: break-all;
}
pre {
    background: #f4f5f6;
    overflow-y: hidden;
}
iframe {
    width: 100%;
    height: 100vh;
    border: 0;
}
.tabs {
    position: relative;
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 35px 0 25px;
    background: white;
}
.tab {
    float: left;

}
.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    top: -29px;
    transition: background-color .17s linear;
}
.tab [type=radio] {
    display: none;
}
.content {
    position: absolute;
    top: -1px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 0;
    border: 1px solid #ccc;
    transition: opacity .6s linear;
    opacity: 0;
}
[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
}
